 <h4>สินค้า {{object.title}} กำลังจะหมด</h4>
รหัสสินค้า: {{object.number}}<br>
<span> จำนวนคงเหลือตอนนี้: {{object.total_qty}} ชิ้น</span>
<p hidden>อยู่ใน Stock ที่ขายไม่ได้: {{object.total_unsale_qty}} ชิ้น</p>
<p hidden>Minimum Stock: {{object.min_stock}} ชิ้น</p>
<p style="display: none;">Units:{{object.unit_name}} </p>
<p style="display: none;">Lower Stock:{{object.lower_stock}}</p>
<p style="display: none;">Modify Date:{{object.updated}}</p>
<p style="display: none;">Status:{{object.status}}</p>
<a href="{{object.get_full_url}}">คลิกเพื่อดูรายละเอียด</a>