{% extends "index.html" %}
{% load static %} 

{% block title %}
	Product : {{ object }}
{% endblock %}

{% block content %}
 <div class="container">

<!-- 	{% if user.is_authenticated %}
	      <p>ยินดีต้อนรับ, {{ user.username }}. คุณสามารถดู stock สินค้าได้แล้ว<a href="{% url 'logout' %}">ออกจากระบบ</a></p>

	  {% else %}
	      <p>Welcome, new user. Please log in. <a href="{% url 'login' %}">login</a></p>
	  {% endif %} -->
	<div class="border">
	
	เลขสินค้า: {{ object.product.number }} <br>
	ชื่อสินค้า: {{ object.product.title }} <br>
	จำนวน: {{ object.qty }} <br>
	วันที่สินค้าเข้า: {{object.updated}}<br>
	<h3><a href="{% url 'product:list' %}">ย้อนกลับ</a></h3>
	<br>
	</div>
	<!-- Object Detail -->
<!-- 	{{ object.store }} | <a href="{{ object.product.get_absolute_url }}">{{ object.product }}</a> | {{ object.title }} | {{ object.qty }} | <i>({{object.updated}})</i> -->
	<!-- End Object Detail -->
</div>
</div>
	
{% endblock content %}