{% extends "base.html" %}
{% block title %}
    SiamManor - Inventory System Control
{% endblock %}




{% block content %}
  

  <div class="main-page main">
            <form class="form-signin" method="post" action="{% url 'login' %}">  
            {% csrf_token %}     
              	{% if user.is_authenticated %}
                ยินดีต้อนรับ, {{ user.username }}. คุณสามารถเข้าดูรายละเอียดสินค้าได้แล้ว </br><a href="{% url 'logout' %}">ออกจากระบบ</a>

            {% else %}
                ยินดีตอนรับ,กรุณา <a href="{% url 'login' %}"><span>เข้าสู่ระบบ</span></a>
            {% endif %}
        {% if form.errors %}
        ข้อมูล username หรือ password ผิด กรุณาลองอีกครั้ง
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>กรุณา Log-in ก่อนค่ะ</p>
            {% endif %}
        {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'change_password' %}">เปลี่ยนPassword</a>
     {% endif %}
        </form>
</div>


{% endblock content %}


