{% extends 'index.html' %}
{% load static %} 

{% block title %}StockEVE - Product list{% endblock %}

{% block content %}
 <div class="container">
 

   
    <form class='form' method='GET' action='.'>
                        <input type='text' id='search' placeholder="ค้นหาสินค้า" name="q" value='{{ request.GET.q}}'>
                        <button class='btn btn-default' type='submit'>Search</button>
                        <a href="{% url 'receiving:list'  %}">ล้างข้อมูล</a>
    </form>
       รายการที่ {{ page_obj.start_index }} ถึง {{ page_obj.end_index }} จากทังหมด {{ page_obj.paginator.count }} รายการ <br>
     {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a href="?q={{ request.GET.q}}&page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li><a href="?q={{ request.GET.q}}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
      {% endif %}

          {% for object in object_list %}
<div class="col-md-3">

          <div class="team-member">
              <figure class="member-photo"><a href="{{object.get_absolute_url}}"><img src="{{object.product.images.first.file.url}}" height="100" width="100"></figure></a>
              
              <div class="team-detail">
              เลขสินค้า:{{object.product.number}} <br>
              ชื่อสินค้า:{{object.product.title}} <br>
              จำนวนที่มี:{{object.qty}} <br>
              <p hidden>Store :{{object.store}} </p>
              <p hidden>วันที่ :{{object.created}} </p>
              <p hidden>Inspected :{{object.inspected}} </p>
              </div>
          </div>
</div>
          {% endfor %}
      </div>
    </section>
<!--         </tbody> -->


{% endblock content %}


{% block stylesheet %}
{% endblock stylesheet %}