{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> Child Product Summary </h1>
{% endblock %}

<!-- 'product','store','qty','price','salename','balance','created','status' -->

{% block result_list %}

<a href="{% url 'sale:export_sale_child_xls' %}">Download to Excel</a>
    <!-- Our content goes here... -->
    <div class="results">
    <table>

    <thead>
      <tr>
      	<th>
          <div class="text">
            <a href="#">Product</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Parent</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Store</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Qty</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Price#</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Salename</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Balance</a>
          </div>
        </th>

        <th>
          <div class="text">
            <a href="#">Sale Date</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Status</a>
          </div>
        </th>

      </tr>
    </thead>

    <tbody>
      <!-- 'product','store','qty','price','salename','balance','created','status' -->
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        {% if row.product.childs.count > 0 %}
        <!-- Show Child product -->
        {% for p in row.product.childs.all %}
        	<td> <a href="{% url 'admin:product_product_change' p.pk %}">{{ p }}</a> </td>
          <td><a href="{% url 'admin:product_product_change' row.product.pk %}"> {{ row.product }} </a></td>
        	<td> {{ row.store | default:'' }} </td>
          <td> {{ row.qty }} </td>
          <td> {{ row.price| default:''  }} </td>
          <td> {{ row.salename | default:'' }} </td>
          <td> {{ row.balance | default:'' }}</td>
          <td> {{ row.created }} </td>
          <td> 
            {% if row.status == True %}            
              <img src="/static/admin/img/icon-yes.svg" alt="True"> 
            {% else %}
              <img src="/static/admin/img/icon-no.svg" alt="True">
            {% endif %}
          </td>
            
          {% endfor %}
          <!-- End for -->
        {% else %}
          <!-- Show Single Product -->
          <td> <a href="{% url 'admin:product_product_change' row.product.pk %}"> {{ row.product }} </a> </td>
          <td> </td>
          <td> {{ row.store | default:'' }} </td>
          <td> {{ row.qty }} </td>
          <td> {{ row.price| default:''  }} </td>
          <td> {{ row.salename | default:'' }} </td>
          <td> {{ row.balance | default:'' }} </td>
          <td> {{ row.created }} </td>
                    <td> 
            {% if row.status == True %}            
              <img src="/static/admin/img/icon-yes.svg" alt="True"> 
            {% else %}
              <img src="/static/admin/img/icon-no.svg" alt="True">
            {% endif %}
          </td>
        {% endif %}
        
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<!-- ... -->
{% endblock %}

{% block pagination %}{% endblock %}